<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset=" UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/addmethod" method="post" th:object="${theToys}">
    <input type="hidden" value="*{id}">
    <label for="model">Enter your model</label><input type="text" th:field="*{model}">
    <label for="brand">Enter your brand</label><input type="text" th:field="*{brand}">
    <label for="date"Enter your date></label><input type="text" th:field="*{date}">
    <label for="instock"Enter your instock></label><input type ="text" th:field="*{instock}">

    <button type="submit">Add Toys</button>

</form>

</body>
</html>