<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset=" UTF-8"/>
    <title>List of Toys</title>
</head>
<body>
<h1>Toys</h1>
<div th:each="eachToys:${toys}">
    <p th:text="${eachToys.model}"></p>
    <p th:text="${eachToys.brand}"></p>
    <p th:text="${eachToys.date}"></p>
    <!--<p th:text="${#date.format(eachToys.date,'dd MMM yyyy')}"></p>-->

    <p th:text="${#bools.isTrue(eachToys.instock==true)?'Is available!':'Not Available'}"></p>
</div>
</body>
</html>